.header .img-thumbnail {
  max-height: 100px;
}

.affix {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fefefe;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}


.footer {
  margin-top: 2em;
}
.panel-title {
  cursor: pointer;
}

#instructions {
  text-align: justify;
}
