extends layout

block content
  p Get 
    a(href="jobs",rel="tooltip", title="My Task list") Job List
  p Create 
    a(href="job/new",rel="tooltip", title="new Job") new Job
  p Create 
    a(href="task/new",rel="tooltip", title="new Task") new Task