#save.modal.fade(data-backdrop='static')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
        h4.modal-title Review and save
      .modal-body#review
      .modal-footer
        button.btn.btn-default(type="button",data-dismiss="modal") Close
        button#save_btn.btn.btn-success(type="button")
          i.icon-hand-right
          |   Post task! 
          i.icon-hand-left

#save_modal.modal.fade(data-backdrop='static')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Post result
      .modal-body
      .modal-footer