h2 Invitation strategy and performer selection
.list-controller
  .control-group
    label.control-label(for="invitation_strategy_name") Strategy: 
      span.badge 1
    .controls
      select.list-controller-name#invitation_strategy_name
        option(selected) None
        each strategy in invitationStrategies
          option(
            data-name=strategy.name,
            data-type='strategy',
            data-params=JSON.stringify( strategy.params ),
            data-events=JSON.stringify( strategy.triggerOn )
            )= strategy.name
  .param-container
    h4 Triggers on
    .event-list
    h4 Parameters 
      span.badge 2
    .param-list