.list-controller
  .form-group
    label(for="splitting_strategy_name") Strategy: 
    select.list-controller-name.form-control.input-small#splitting_strategy_name
      option(selected) None
      each strategy in splittingStrategies
        option(
          data-name=strategy.name,
          data-type='strategy',
          data-params=JSON.stringify( strategy.params ),
          data-events=JSON.stringify( strategy.triggerOn )
          )= strategy.name
  .param-container
    h4 Triggers on
    .event-list
    h4 Parameters 
      span.badge 2
    .param-list