<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th width="60%">Data</th>
      {{#each operations}}
        <th>{{label}} ({{name}})</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each objects}}
      <tr>
        <td>{{{printObject this.data}}}</td>
        {{#each ../operations}}
          <td>
            {{{printOperation this ../this}}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>