table.table {
  table-layout: fixed;
}
.action select {
  width: auto;
}
td.id, th.id {
  width: 100px;

  overflow: hidden;
  text-overflow: ellipsis;
}
img.img-polaroid {
  height: 100px;
}
.wrapper {
  max-width: 1024px;
  margin: auto;
  margin-top: 3em;
}

@media (min-width: 768px) and (max-width: 979px) {
  .wrapper {
    max-width: none;
  }
}